/*.available-games-list {}*/

.available-games-list__list_items {
    list-style: none;
    padding-inline: 0.25em;
}

.available-games-list__list_items > li {
    --gap: 0.25em;
    cursor: pointer;
    padding-block: var(--gap);
    max-inline-size: 40ch;
    min-inline-size: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;

    &.active {
        font-weight: bold;
    }

    &:hover {
        background-color: var(--primary-color-7);
    }
}

.available-games-list__more-button {
    display: flex;
    justify-content: end;
}
