.card {
    --ease-time: 300ms;
    transition: transform var(--ease-time) ease;
    inline-size: 100px;
    block-size: 135px;
}

.card.card__placeholder {
    border: dashed 2px var(--secondary-color-5);
    border-radius: 5px;
}

.card.card__selected {
    transform: translateY(-20px) rotate(5deg);
    transition: transform var(--ease-time) ease;
}

.card.card__selectable {
    cursor: pointer;
}
