.crib-and-cut {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.crib-and-cut__user-crib {
    align-self: start;
}

.crib-and-cut__cut {
    align-self: center;
}

.crib-and-cut__opponent-crib {
    align-self: end;
}
