.discarding-hand > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
}

.discarding-hand > button {
    margin-inline: auto;
    display: block;
}
