.game-page {
    block-size: 80%;
}

.game-page__starting {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
}

.game-page__in-progress {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

.game-page__in-progress > :nth-child(2) {
    align-self: start;
}

.game-page__in-progress > :nth-child(4) {
    align-self: end;
}

.scoreboard {
    grid-column: 1;
    grid-row: 1 / 4;
    display: flex;
    justify-content: center;
}

.middle-section {
    align-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.crib-cut-container {
    grid-column: 3;
    grid-row: 1 / 4;
    display: flex;
    justify-self: center;
}
