.game-page {
    flex-grow: 1;
    justify-self: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.starting {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    align-items: center;
}

.game-page button {
    justify-self: center;
}

.game-page h2 {
    justify-self: center;
}

.in-progress {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    padding: 16px;
}

.scoreboard {
    grid-column: 1;
    grid-row: 1 / 4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.middle-section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crib-cut-container {
    grid-column: 3;
    grid-row: 1 / 4;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
