.game-page {
    justify-self: center;
}

.starting {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    align-items: center;
}

.game-page button {
    justify-self: center;
}

.game-page h2 {
    justify-self: center;
}

.in-progress {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

.in-progress > :nth-child(2) {
    align-self: start;
}

.in-progress > :nth-child(4) {
    align-self: end;
}

.scoreboard {
    grid-column: 1;
    grid-row: 1 / 4;
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.middle-section {
    background-color: white;
}

.crib-cut-container {
    grid-column: 3;
    grid-row: 1 / 4;
    display: flex;
    justify-self: center;
}
