.home-page {
    display: grid;
    grid-template-rows: auto 1fr;
    min-block-size: 0;
    block-size: 100%;
    padding-bottom: 1rem;
}

.home-page__new-game-section {
    display: grid;
    grid-template-rows: auto auto;
}

.home-page__join-game-section {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 0;
    overflow: hidden;
}

.home-page__new-game__actions {
    display: flex;
    gap: 1rem;
}
