.home-page {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

.join-game {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 1rem;
    overflow: hidden;
}

.new-game {
    display: grid;
    grid-template-rows: auto auto;
}

.new-game-buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.more-button {
    align-self: end;
}

.games-list {
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.game-items {
    flex-grow: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin-top: 0;
    min-height: 0;
}

.game-item {
    --gap: 0.25em;
    cursor: pointer;
    padding: var(--gap) var(--gap);
}

.game-item.active {
    font-weight: bold;
}

.game-item:first-child {
    padding-bottom: var(--gap);
}

.game-item:last-child {
    padding-top: var(--gap);
    padding-bottom: 0;
}

.game-item:hover {
    background-color: var(--highlight-color);
}
