.in-progress {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    block-size: 100%;
    grid-template-areas:
        "east north  west"
        "east centre west"
        "east south  west";
    gap: 16px;
}

.in-progress__east {
    grid-area: east;
    justify-self: start;
    block-size: 100%;
}

.in-progress__west {
    grid-area: west;
    justify-self: center;
}

.in-progress__north {
    grid-area: north;
    align-self: start;
}

.in-progress__south {
    grid-area: south;
    align-self: end;
    justify-self: center;
}

.in-progress__centre {
    grid-area: centre;
    align-self: center;
}
