@media (prefers-color-scheme: light) {
    :root {
        --cribbage-theme-color: lightgreen;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --cribbage-theme-color: darkgreen;
    }
}

html,
body {
    block-size: 100%;
}

* {
    box-sizing: border-box;
}

html {
    --cribbage-theme-color-light: color-mix(
        in hsl,
        var(--cribbage-theme-color) red 50%
    );
    --cribbage-theme-color-dark: color-mix(
        in hsl,
        var(--cribbage-theme-color) blue 50%
    );
    background-color: var(--cribbage-theme-color);
}

body {
    background: radial-gradient(
        circle at left top,
        var(--cribbage-theme-color-light),
        var(--cribbage-theme-color-dark)
    );
}

#main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    block-size: 100%;
    justify-items: center;
}

header,
footer {
    padding: 0.5rem;
}

main {
    block-size: 100%;
    min-block-size: 0;
}

button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    inline-size: fit-content;
}

input {
    border-radius: 1rem;
    padding: 1rem 1rem;
    inline-size: fit-content;
}
