.user-hand {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 5px;
    justify-items: center;
}

.user-hand__cards {
    display: flex;
    gap: 5px;
    min-block-size: 150px;
}

.user-hand__controls {
    margin-block-start: 2em;
}
