.winner-medal {
    display: flex;
    justify-content: center;
    overflow: visible;
}

.winner-medal__image {
    max-block-size: 200px;
}

.winner-medal__winner {
    animation: winner-medal__winner__spin 1.5s
        cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@keyframes winner-medal__winner__spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.winner-medal__loser {
    animation: winner-medal__loser__drop 1.4s ease-out forwards;
}

@keyframes winner-medal__loser__drop {
    0% {
        transform: translateY(-200px) scale(1.4) rotate(-15deg);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    70% {
        transform: translateY(0) scale(1) rotate(0deg);
    }
    80% {
        transform: translateY(-20px); /* little bounce up after bonk */
    }
    100% {
        transform: translateY(0);
    }
}
