.winner-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.winner-cards__winner {
    animation: winner-cards__winner__spin 3s ease-in-out forwards;
}

@keyframes winner-cards__winner__spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1080deg);
    }
}
